<%- include('./../_partials/header') %>
    <form style:"display:inline" action="/myrecs" method="POST"> 
      <input type="submit"></input>
        <% records.results.forEach(function (record) { %>

          <div class="albums large-12 columns">                          

          
            <input type="checkbox" name="id" value="<%= record.id %>">
            <a href="https://www.discogs.com<%= record.uri %>"><img src="<%= record.thumb %>"></a>
            <br>
            <%= record.title %>
            <br><br>
          </div>
        <% }) %>
      </form>

  
</body>
</html>
