<%- include('./../_partials/header') %>
<form action="/myrecs" method="POST"> 
  <h1> Add to your list: <%= newList.title %> </h1>
  <input class="submitHolder" type="submit"></input>
    <br>
    <br>
    <br>
    <br>
        <% records.results.forEach(function (record) { %>
        <div class="albums large-2 columns">
            <input type="checkbox" name="id" value="<%= record.id %>">
          <a href="https://www.discogs.com<%= record.uri %>"><img src="<%= record.thumb %>"></a>
          <br>
          <%= record.title %>
          <br><br>
        </div>
      <% }) %>
</form>
  

  
</body>
</html>
